In [7]:
#absolute value 

integer = -20
abs(integer)

20

In [ ]:
#enumerate()


#enumerate(iterable, start = 0)

In [8]:
list1 = ['apple', 'orange', 'milk']

In [12]:
enum = enumerate(list1)

In [15]:
print(list(enum))

[(0, 'apple'), (1, 'orange'), (2, 'milk')]

In [17]:
#zip:

letters = ['a', 'b', 'c']
numbers = [1, 2, 3]

result = zip()

In [18]:
list(result)

[]

In [19]:
result = zip(letters, numbers)

In [20]:
result

In [21]:
set(result)

{('a', 1), ('b', 2), ('c', 3)}

In [25]:
def add(a, b):
    sum1 = a+b
    return sum1

In [23]:
add(5, 4)

9

In [26]:
def add_two_numbers():

In [30]:
#without using return 
def course(name, course_name):
    print("hello", name, 'welcome to  class')
    print('your course name: ', course_name)

In [31]:
course('Abhi', 'HIT 137')

hello Abhi welcome to  class
your course name:  HIT 137

In [32]:
#with return values

def square_num(x):
    return x*x

In [34]:
def is_even(list1):
    even_num = []
    for n in list1:
        if n%2 == 0:
            even_num.append(n)
    return even_num #outside

In [35]:
list1 = [1, 4, 8, 10]

In [37]:
list2 = [10, 12, 14, 15]

In [38]:
is_even(list2)

[10, 12, 14]

In [39]:
def calc(num1, num2):
    add = num1 + num2
    sub = num1 - num2
    mul = num1 * num2
    
    return add, sub, mul

In [40]:
calc(2, 4)

(6, -2, 8)

In [ ]:
#regular expression
#lambda function